template

    div.__panel(ref="panel")
        .designer-panel-header.icon-menu
            ul.tabs
                li.tab(repeat.for="child of children")
                    a(href="#" click.delegate="open(child.id)" class="${child.active ? 'active' : ''}")
                        i.material-icons.mdi(class.bind="child.icon ? child.icon : 'mdi-checkbox-blank'")

        .designer-panel-panel-holder
            slot
