@import "./aire-card";

$aire-icon-holder-size: $primary-nav-width;
$aire-icon-padding: $primary-nav-pip-size;

$box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), 0 0 15px 0 rgba(0, 0, 0, 0.02), 0 0 20px 4px rgba(0, 0, 0, 0.06);

aire-icon-card, .aire-icon-card {
  @extend .aire-card;

  margin: 2*$aire-icon-padding;
  padding: $aire-icon-padding;
  box-shadow: $box-shadow;

  .aire-icon-card-upper {
    display: flex;
    justify-content: space-between;
  }

  .aire-icon-holder {
    background-color: $secondary-nav-background;
    width: $aire-icon-holder-size;
    height: $aire-icon-holder-size;
    line-height: $aire-icon-holder-size;
    text-align: center;
    margin-top: -2*$aire-icon-padding;
    box-shadow: $box-shadow;
  }

  [slot="footer"] {
    display: block;
    border-top: 1px solid $dark-gray-1;
    color: $dark-gray-1;
    margin-top: $aire-icon-padding;
  }
}