@import "../layout/aire-layout-variables";

aire-aside, .aire-aside {
  position: relative;


  section {
    position: absolute;
    right: 40px;
    height: 100%;
    width: 360px;
    background-color: $white;
    border: 1px solid $ambient-background;
    box-sizing: border-box;

    nav, .aire-nav {
      [role=button] {
        height: 38px;
        max-height: 38px;
        //height: calc(#{$secondary-nav-width - 6px});
        //max-height: calc(#{$secondary-nav-width - 6px});
      }
      box-sizing: border-box;
      width: 100%;
      background-color: $white;
      height: 39px;
      border-bottom: 1px solid $lightest-purple;
    }
  }

}