@import "../layout/aire-layout-variables";

aire-aside, .aire-aside {
  position: relative;


  section {
    position: absolute;
    right: 40px;
    height: 100%;
    width: 360px;
    background-color: $white;
    border: 1px solid $ambient-background;

    nav, .aire-nav {
      [role=button] {
        height: calc(#{$secondary-nav-width - 2px});
        max-height: calc(#{$secondary-nav-width - 2px});
      }
      width: 100%;
      background-color: $white;
      height: calc(#{$secondary-nav-width - 1px});
      border-bottom: 1px solid $lightest-purple;
    }
  }

}