@import "../layout/aire-layout-variables";

$nav-primary-dimension: 100%;
$nav-secondary-dimension: $primary-nav-width/2 + $primary-nav-pip-size/2;


article.aire-tabs {

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  nav {
    background-color: inherit;

    a {
      width: unset;
      height: unset;
    }
  }

  &.top, &.bottom {
    nav {
      height: $nav-secondary-dimension;
      width: $nav-primary-dimension;

      vaadin-tabs, vaadin-tab, vaadin-tab a {
        height: $nav-secondary-dimension;
        min-height: $nav-secondary-dimension !important;
        box-sizing: border-box;
      }
    }
  }

  &.bottom {
    flex-direction: column-reverse;
  }

  &.left, &.right {
    nav {
      width: $nav-secondary-dimension;
      min-width: $nav-secondary-dimension;
      height: $nav-primary-dimension;
    }
  }

  &.right {
    flex-direction: row-reverse;
  }

  &.left {
    flex-direction: row;
  }
}