@import "../layout/aire-layout-variables";
$aire-card-width: 300px;
$aire-card-min-height: 148px;
$aire-card-header-height: 72px;
$aire-card-footer-height:48px;

$aire-card-content-padding: 16px;

$aire-content-min-height: 96px;

aire-card, .aire-card {

  /**
  layout
   */
  display: block;

  /**
  dimensions
   */
  width: $aire-card-width;
  background-color: $primary-nav-foreground;

  * {
    margin: 0;
    padding:0;
  }


  h1, span.h1 {
    font-weight: 400;
    font-size: 1.2em;
    color: $darkest-gray;
  }

  h2, span.h2 {
    font-weight: 200;
    font-size: 0.9em;
    color: $dark-gray-1;
  }

  section {
    height:$aire-content-min-height;
    min-height:$aire-content-min-height;
    padding:$aire-card-content-padding;
    background-color: $primary-nav-foreground;

    display: flex;
    flex-direction: row;

    div {
      flex: 1;
    }
    div + div {
      justify-self: flex-end;
      display:flex;
      justify-items: center;
      align-items: center;
      flex:0;
    }
    img {
      padding:8px;
      width:80px;
      height:80px;
      display:block;
    }

  }


  footer, .aire-footer {
    display: block;

  }


}