@import "aire-layout-variables";

nav.aire-nav {

  a {
    position: relative;
    &:hover {
      background-color: $secondary-nav-background;
    }

    &[highlight] {
      background-color: $tertiary-nav-background;
      &:before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;

        border-top: 8px solid transparent;
        border-left: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid $ambient-background;
        right: 0;
      }
    }
  }

}