@import "aire-layout-variables";

article {

  display: flex;
  flex-direction: row;



  nav {

    width: $primary-nav-width;
    min-width: $primary-nav-width;
    height: 100%;
    background-color: $primary-nav-background;

    a {
      width: $primary-nav-width;
      height: $primary-nav-width;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      color: $primary-nav-foreground;

      ::content {
        display: none;
      }

      iron-icon, i {
        width: 16px;
        height: 16px;
      }
    }
  }


  section {
    flex: 1;
    height:100%;
    background-color: $ambient-background;
  }

  aside {
    width: $secondary-nav-width;
    height: 100%;
  }

}