html, body {
  overflow: hidden;
  height:100vh;
  padding:0;
  margin:0;
  box-sizing: border-box;
}


.expand {
  width:100%;
  height:100%;
}

.v-system-error {
  position: absolute;
  top:auto;
  bottom:0;
  height:auto;
}
article, article.horizontal {
  display: flex;
  flex-direction: row;
}