@import "rotation";
@import "aire-layout-variables";

article {

  display: flex;
  flex-direction: row;


  nav {

    width: $primary-nav-width;
    min-width: $primary-nav-width;
    height: 100%;
    background-color: $primary-nav-background;

    a {
      width: $primary-nav-width;
      height: $primary-nav-width;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      color: $primary-nav-foreground;

      ::content {
        display: none;
      }

      iron-icon, i {
        width: $primary-nav-pip-size;
        height: $primary-nav-pip-size;
      }
    }
  }


  & > section {
    flex: 1;
    height: 100%;
    background-color: $ambient-background;
  }

  aside, .aire-aside {
    width: $secondary-nav-width;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $white;

    [role=button] {
      background-color: inherit;
      color: $blue-purple;
      margin: 0;
      display: block;

      height: $secondary-nav-width;
      width: $secondary-nav-width;
      max-width: $secondary-nav-width;
      max-height: $secondary-nav-width;
      border-radius: 0;
    }
  }
}

