@import "aire-layout-variables";

.aire-viewport {
  height:100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  &, * > {
    box-sizing: border-box;
  }

  > footer, .aire-footer {
    height: $footer-height;
    border: 1px solid turquoise;
  }

  > header, .aire-header {
    height:$header-height;
    border: 1px solid blue;
  }

  > article, .aire-panel {
    border: 1px solid red;
    height: 100%;
  }

}
.mxRubberband {
  color: red;
}