@import "aire-layout-variables";

@import "aire-layout-variables";

header.aire-header {

  display: flex;
  flex-direction: row;

  a {
    width: 64px;
    height: 64px;
    padding: 0;
    background-color: $secondary-nav-background;

    display:flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: $tertiary-nav-background;
    }

    img {
      width: 48px;
      height: 48px;
    }
  }

}


